$muted: rgb(76, 197, 167);
$font-mint: rgb(228, 245, 241);
$black-green: rgb(10, 22, 15);
$light-grey: rgb(194, 194, 194);
$dark-grey: rgb(100, 100, 100);
$almond-brown: #be7b40;
body {
	background-color: rgb(245, 245, 245);
}
.container {
	max-width: 1500px;
}

nav {
	z-index: 50;
	position: absolute !important;

	.navbar-brand {
		font-family: "Alegreya";
		color: $font-mint !important;
		font-size: 2.3rem;
		position: absolute;
	}
	.navbar-nav {
		.nav-item {
			.nav-link {
				font-family: "Catamaran";
				.syte-language {
					&:not(.active) {
						color: $muted;
					}
				}
				&.hover {
					width: 90px;
					text-align: center;
					transition: 0.2s all;
					position: relative;
					&:hover {
						&:before {
							height: 100%;
						}
						color: white;
					}

					&:before {
						z-index: -1;
						transition: 0.3s all;
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 0;
						background-color: $muted;
					}
				}
			}
		}
	}
}
#welcome-box {
	background-image: url("../img/background.jpg");
	background-size: cover;
	height: 110vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	.fog {
		display: none;
		position: fixed;
		width: 200%;
		height: 200%;
		background-image: url("/assets/img/fog.png");
		background-size: 100%;
		animation-duration: 5s;
		opacity: 0.5;
	}
	.down-fog {
		position: relative;
		width: 150%;
		height: 90%;
		background-image: url("/assets/img/down-fog.png");
		background-repeat: repeat-x;
		background-size: 100%;
		background-position: bottom;
		animation-duration: 15s;
		opacity: 0.3;
	}
	.container {
		h1 {
			font-family: "Roboto Slab";
			color: $font-mint;
			text-shadow: $black-green 2px 2px 5px;
			#show-before {
				transition: 0.7s all;
				opacity: 0;
				position: relative;
				&[show] {
					opacity: 1;
				}
			}

			.welcome-transition {
				transition: 0.7s all;
				overflow: hidden;
				position: relative;
				opacity: 0;
				top: -20px;
				color: $muted;
				text-shadow: $black-green -2px 1px 3px;
				&[show] {
					opacity: 1;
					top: 0;
				}
			}
		}
	}
	.search-bar {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.95);
		width: 100%;
		height: 20vh;
		bottom: -10%;
		box-shadow: 0px 0px 50px 0px $light-grey;
		border-radius: 0.3rem;
		form {
			display: flex;
			flex-wrap: nowrap;
			align-items: left;
			justify-content: space-evenly;
			align-content: space-between;
		}
		font-family: "Roboto Slab";
		.form-item {
			display: inline-block;
			label {
				color: $muted;
				display: table-row;
			}
			#submit-label {
				visibility: hidden;
			}
			input {
				border-radius: 0.3rem;
				text-indent: 0.5rem;
				box-shadow: 1px 1px 5px $light-grey;
				color: $dark-grey;
				border-color: transparent;
				&[type="submit"] {
					background-color: $muted;
					color: $font-mint;
					font-weight: bold;
					font-family: "Catamaran";
					text-indent: 0rem;
					margin: 0.2rem;
				}
			}
		}
	}
}
.search-box {
	height: 90vh;
	width: 100%;
	display: flex;
	align-items: top;
	justify-content: center;
	padding-top: 15rem;
	.container {
		width: 40%;
		.img-box {
			position: relative;
			//: 60%;
			img {
				opacity: 0;
				transition: 1s all;
				width: 100%;
				height: auto;
				position: absolute;
				border-radius: 0.3rem;
			}
			.img-back {
				transform: rotate(-30deg);
				width: 80%;
				filter: blur(2px);
				opacity: 0.6;
				z-index: 1;
			}
			.img-middle {
				transform: rotate(-15deg);
				width: 80%;
				opacity: 1;
				z-index: 2;
			}
			.img-front {
				margin-left: 1rem;
				opacity: 1;
				z-index: 3;
				box-shadow: 1px -1px 30px $light-grey;
			}
			.img-disable {
				transition: 2s all;
				z-index: -5;
			}
		}
	}
	.description-box {
		width: 50%;
		padding-top: 3rem;
		display: flex;
		align-items: top;
		justify-content: space-evenly;
		.text {
			h2 {
				color: $almond-brown;
				font-family: "Poppins";
			}
			#to-go {
				color: $muted;
			}
			p {
				//text-align: start;
				color: $dark-grey;
				font-family: "Nunito Sans";
				span {
					display: inline;
					padding-top: 0.5rem;
				}
			}
		}
	}
}
.option-box {
	height: 100vh;
	width: 100%;
	text-align: center;
	font-family: "Roboto Slab";
	.options {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		.option {
			width: 30%;
			img {
				width: 80%;
				border-radius: 0.3rem;
			}
		}
	}
	.options-text {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		margin-top: -5rem;
		.option-text {
			width: 20%;
			background-color: white;
			box-shadow: 0px 0px 50px 0px $light-grey;
			color: $black-green;
			border-radius: 0.3rem;
			position: relative;
			h3 {
				color: $almond-brown;
				font-family: "Poppins";
			}
			p {
				text-align: left;
				color: rgb(100, 100, 100);
				font-family: "Nunito Sans";
			}
			.price {
				width: 30%;
				background-color: $muted;
				padding: 0.8rem 0 0.8rem 0;
				border-radius: 0.3rem;
				position: absolute;
				left: 80%;
				color: $font-mint;
			}
		}
	}
}
.slide-show {
	width: 100%;
	height: 100vh;
	background-image: url("../img/background2.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	.quotes {
		padding: 5rem;
		text-align: center;
		width: 40%;
		height: 60%;
		background-color: rgb(0, 128, 96);
		margin-right: 8rem;
		opacity: 0.9;
		color: $font-mint;
		h4 {
			font-family: "Dancing Script";
			font-size: 2rem !important;
			line-height: 3rem;
		}
		h5 {
			font-family: "Dawning of a New Day";
			font-size: 1.7rem;
		}

		.carousel-indicators li {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			&.active {
				background-color: $font-mint;
			}
			&:not(.active) {
				background-color: $muted;
				opacity: 1;
			}
		}
		.carousel-inner {
			.carousel-item {
				height: 400px;
			}
		}
	}
}
.location {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	.location-description {
		width: 40%;
		text-align: right;
		h2 {
			font-family: "Roboto Slab";
			color: $almond-brown;
			width: 70%;
		}
		h5 {
			font-family: "Nunito Sans";
			line-height: 2rem;
			color: $dark-grey;
			width: 70%;
		}
	}
	.location-image {
		width: 40%;
		height: 80%;
		background-image: url("../img/sb1.png");
		background-size: contain;
		background-position: center;
		filter: hue-rotate(310deg);
		background-repeat: no-repeat;
		position: relative;
		.text {
			position: absolute;
			top: 24%;
			left: 46%;
			font-weight: bold;
			width: 20%;
			color: rgb(0, 128, 96);
			font-family: "Roboto Slab";
		}
	}
}
footer {
	height: 100vh;
	width: 100%;
	background-image: url("../img/footer5.jpg");
	background-size: cover;
	position: relative;
	img {
		position: absolute;
		width: 50%;
		filter: brightness(1.1);
	}
	img:nth-child(3) {
		top: -22%;
		right: 75%;
	}
	img:nth-child(2) {
		top: -30%;
		right: 0%;
	}
	img:nth-child(4) {
		top: -23%;
		left: 10%;
	}
	.white-transition {
		padding: 8px;
		border-radius: 8px;
		position: absolute;
		z-index: 50;
		width: 100%;
		height: 70%;
		background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 1) 20%,
			rgba(255, 255, 255, 0.5) 70%,
			rgba(255, 255, 255, 0) 100%
		);
	}
}
